*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}
.container{
    height: 100%;
    width: 100%;
    background-color: lightcyan;
    display: grid; /*grid layout use karne ke liye*/
    row-gap: 10px;
}

.item{
    background-color: lightcoral;
    border: 2px solid black;
}