*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(1, 1, 10);
    display: flex;
    flex-direction: column;
}

.nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #444;
    padding: 24px;
}

.logo{
    font-size: 24px;
    font-weight: bold;
    color: deepskyblue;
}

.menu ul{
    display: flex;
    list-style: none;
    gap: 25px;
}

.menu li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.middle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}

.left{
    color: white;
    line-height: 1.5;
}

.left h1 span{
    color: deepskyblue;
}

.left p{
    padding: 10px 0;
}

.btn{
    margin-top: 20px;
    display: flex;
    gap: 15px;
}

.btn1{
    padding: 18px;
    border: none;
    background-color: rgb(45, 184, 219);
    color: white;
    border-radius: 18px;
}

.btn2{
    padding: 18px;
    border: none;
    background-color: rgb(243, 241, 241);
    color: black;
    border-radius: 18px;
}

.btn1:hover{
    background-color: rgb(12, 121, 121);
}

.btn2:hover{
    background-color: gainsboro;
}

.right{
    width: 40%;
}

.right img{
    width: 100%;
    height: auto;
    border-radius: 20px;
}

@media (max-width: 768px){

    /* Navbar */
    .nav{
        flex-direction: column;
        gap: 15px;
        text-align: center;
    }

    .menu ul{
        flex-direction: column;
        gap: 12px;
    }

    /* Middle Section */
    .middle{
        flex-direction: column;
        padding: 20px;
        text-align: center;
    }

    .left{
        width: 100%;
    }

    /* Buttons */
    .btn{
        justify-content: center;
        flex-wrap: wrap;
    }

    .btn1,
    .btn2{
        width: 100%;
        max-width: 250px;
    }

    /* Image */
    .right{
        width: 100%;
        margin-top: 30px;
    }

    .right img{
        width: 100%;
    }
}
