*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background: #dfd8d8;
}

/* Container */
.box{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 20px;
}

/* Card common */
.card{
    width: 220px;
    height: 340px;
    background: #000;
    color: #fff;
    border-radius: 20px;
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

/* Headings */
.card h1{
    font-size: 18px;
    color: #b4b1b1;
    margin-bottom: 12px;
}

/* Price button */
.card button{
    border: none;
    padding: 12px 40px;
    border-radius: 50px;
    background: rgb(243, 73, 11);
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}

/* Feature text */
.card p{
    font-size: 14px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ✔ Right */
.right::before{
    content: "✔";
    color: green;
    font-weight: bold;
    margin-right: 8px;
}

/* ❌ Wrong */
.wrong::before{
    content: "❌";
    color: red;
    font-weight: bold;
    margin-right: 8px;
}

/* Buy now */
.card h3{
    margin-top: 20px;
    font-size: 16px;
    cursor: pointer;
    color: #fff;
}

/* Hover effect */
.card:hover{
    transform: translateY(-5px);
    transition: 0.3s;
}

/* Responsive */
@media (max-width: 768px){
    .box{
        flex-direction: column;
    }
}
