*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background-color: rgb(230, 223, 223);
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(8, 44, 110);
    color: white;
}

.logo{
    font-size: 24px;
    font-weight: bold;
}

.nav-links{
    display: flex;
    list-style: none;
    gap: 25px;
}

.nav-links li a{
    text-decoration: none;
    color: lightseagreen;
    font-size: 18px;
}

.nav-links li a:hover{
    color: palegreen;
}

.hamburger{
    display: none;
    cursor: pointer;
    font-size: 28px;
}

@media (max-width: 768px) {
    .nav-links{
        display: none;
        flex-direction: column;
        gap: 15px;
        position: absolute;
        top: 60px;
        right: 20px;
        background-color: white;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }

    .nav-links.active{
        display: flex;
    }

    .hamburger{
        display: block;
    }
}