*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#eee;
    padding: 24px;
}

.box{
    background-color: rgb(13, 129, 175);
    padding: 24px;
}