body {
  min-height: 100vh;
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #f2f2f2;
}

.center-box {
  background: white;
  padding: 40px;
  border-radius: 10px;
}
