*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background: #f2f2f2;
}

.menu{
    width: 260px;
    background-color: #006400; /* green */
    color: white;
    padding: 15px;
    margin: 40px;
}

.logo{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

.item{
    padding: 8px 0;
    cursor: pointer;
    font-size: 15px;
}

.item:hover{
    text-decoration: underline;
}